<div style="margin-left: 100px; margin-top: 50px"><h1>There are 0 Buddies available to help you!</h1></div>

<table class="ui selectable celled table" style="width: 1500px; margin-left: auto; margin-right: auto">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Hourly rate</th>
    <th></th>
  </tr>
  </thead>

  <% @buddies.each do |buddy| %>
    <tr>
      <td><%= buddy.fname + " " + buddy.lname %></td>
      <td><%= buddy.description %></td>
      <td><%= buddy.hourly_rate %></td>
    </tr>
  <% end %>
</table>
