<div class="ui container">
<h1 class="ui dividing header">Edit Existing Meeting</h1>
 
<%= render 'form' %>

<div class ="ui buttons" style="margin-top: 10px">
<%= link_to 'Back', buddy_path(@buddy), :class=>"ui secondary button" %>
</div>
</div>