<div class="ui container">
<h1 class="ui dividing header">Edit Discussion</h1>

<%= render 'form' %>
<div class ="ui buttons" style="margin-top: 10px">
<%= link_to 'Back', course_discussion_path(@course), :class=>"ui secondary button" %>
</div>
</div>
