<div class = "ui container" style = "margin-top:30px; margin-bottom: 30px;">

<div class="ui inverted vertical masthead center aligned segment" style="background: url(<%= asset_path 'background.jpeg' %>); background-size: cover; background-position: center center;">
<div class="ui container">
  <div class="ui text container" style="height: 200px">
    <h1 class="ui inverted header" style="padding-top: 50px">
      Building A+ students one course at a time
    </h1>
    </div>
  </div>
  </div>
  <div class="ui inverted vertical masthead center aligned segment" style="background: url(<%= asset_path 'background.jpeg' %>); background-size: cover; background-position: center center;">
<div class="ui container">
  <div class="ui text container" style="height: 200px">
    <h1 class="ui inverted header" style="padding-top: 50px">
      The Study Buddy Story
    </h1>
    <h2></h2>
    </div>
  </div>
  </div>


<div class="ui middle aligned stackable grid container" style= "margin-top: 50px;">
	<div class="ui five cards">
	<div class="ui card">
	<div class="image">
	  <img src="/images/avatar2/large/kristy.png">
	</div>
	<div class="content">
	  <a class="header">Sulagshan Raveendrakumar</a>
	  <div class="meta">
		<span class="date">Joined in 2019</span>
	  </div>
	  <div class="description">
		Kristy is an art director living in New York.
	  </div>
	</div>
  </div>
  <div class="ui card">
  <div class="image">
    <img src="/images/avatar2/large/kristy.png">
  </div>
  <div class="content">
    <a class="header">Anirudh Sampath</a>
    <div class="meta">
      <span class="date">Joined in 2019</span>
    </div>
    <div class="description">
      Kristy is an art director living in New York.
    </div>
  </div>
</div>
<div class="ui card">
  <div class="image">
    <img src="/images/avatar2/large/kristy.png">
  </div>
  <div class="content">
    <a class="header">Harold Xi</a>
    <div class="meta">
      <span class="date">Joined in 2019</span>
    </div>
    <div class="description">
      Kristy is an art director living in New York.
    </div>
  </div>
</div>
<div class="ui card">
  <div class="image">
    <img src="/images/avatar2/large/kristy.png">
  </div>
  <div class="content">
    <a class="header">Syed Rokib</a>
    <div class="meta">
      <span class="date">Joined in 2019</span>
    </div>
    <div class="description">
      Kristy is an art director living in New York.
    </div>
  </div>
</div>
<div class="ui card">
  <div class="image">
    <img src="/images/avatar2/large/kristy.png">
  </div>
  <div class="content">
    <a class="header">Zhihao Sheng</a>
    <div class="meta">
      <span class="date">Joined in 2019</span>
    </div>
    <div class="description">
      Kristy is an art director living in New York.
    </div>
  </div>
</div>
	</div>
</div>
</div>