<div class="ui inverted vertical masthead segment" style="background: url(<%= asset_path 'background.jpeg' %>); background-size: cover; background-position: center center;">
<div class="ui container">
  <div class="ui text container" style="height: 200px">
    <h1 class="ui inverted header" style="padding-top: 50px">
      FAQS
    </h1>
    <h2>Questions? You've come to the right place</h2>
    </div>
  </div>
  </div>

  <div class = "ui container" style = "margin-top: 30px; margin-bottom:30px">
    <h3 class ="ui dividing header">What is a Study Buddy?</h3>
    <p>A Study Buddy is a mentor that we will match you up with based on your study needs</p>
    <h3 class ="ui dividing header">How do we help you study?</h3>
    <p>Like many students at university, you may be unhappy about the results you attain in exams. You may feel that even with all you are doing there must be something more -- or different-- you could be doing to get better grades. We have all at some time or other heard of that student who only studies a couple of hours for final exams and scores A's every time. We stand in awe of those who seem to breeze through without undue effort and seem to need very little in the way of studying to nail an exam. The reasons for success, in what I think are the vast majority of cases, are less esoteric than many students think: successful students consistently apply a series of productive strategies with view to attaining clearly identified learning and grade goals throughout the academic term.</p>
    <h3 class ="ui dividing header">How do I sign up?</h3>
    <p>You will need a valid email address or a valid social media account. You can sign up through the sign up button at the top right hand corner</p>
    <h3 class ="ui dividing header">What are courses?</h3>
    <p>Every course offered by the University of Toronto can be found within the resources of Study Buddies. Each course contians information about the class, the details regarding the professor, as well as notes, useful links, and discussions</p>
    <h3 class ="ui dividing header">What are groups?</h3>
    <p>Groups are discussion forums often regarding a class or a certain topic that all users of Study Buddy can participate in</p>
  </div>


  </div>