<div class = "ui container" style ="margin-top: 20px; margin-bottom: 20px">
    <h3 class ="ui dividing header">PRIVACY & COOKIE POLICY</h3>
    <p>This privacy policy applies only to the study platform located at https://study-buddy-3.herokuapp.com/ (the "Platform"). If you do not accept this privacy policy, you must not use the Platform.</p>
    <h4 class = "ui divind header">COLLECTION OF PERSONAL INFORMATION</h4>
    <p>We respect all laws that apply to our business, and this includes the General Data Protection Regulation (GDPR). As part of our commitment to GDPR compliance, we have updated our Privacy Policy. If you are an individual in the European Economic Area (EEA), we collect and process information about you only where we have a legal basis for doing so under applicable EU laws. We collect and use your information only where:</p>
    <p>
    We need it to provide you access and functions on the platform
    It satisfies a legitimate interest (which is not overridden by your data protection interests), such as for research and development, to market and promote the platform and to protect our legal rights and interests;
    You give us consent to do so for a specific purpose; or
    We need to process your data to comply with a legal obligation.
    </p>
    <p>
    If you have consented to our use of information about you for a specific purpose, you have the right to change your mind at any time, but this will not affect any processing that has already taken place.
    </p>
    <h4 class = "ui divind header">USE OF COOKIES</h4>
    <p>In addition to personal information you provide, we may also collect information about you automatically when you visit the Platform or access content in our electronic communications with you.</p>
    <p>The collection of information may involve the use of cookies. A cookie is a small text file that is placed on your computer's hard drive by your browser. Cookies allow us to identify your computer and find out details about your visit and browsing habits so that we can offer you a more personalised experience and manage, monitor and improve services.</p>
    <p>Most internet browsers accept cookies automatically, but usually you can alter the settings of your browser to erase cookies or prevent automatic acceptance if you prefer. If you choose not to receive our cookies, you may not be able to use some of the core features of the Platform.</p>
    <p>The information collected by cookies is not tied to your contact details (such as your name or email address), it only includes general information about your computer settings, your connection to the internet e.g. operating system and platform, IP address, your browsing patterns and timings of browsing on the Platform and geographical location.</p>
    <h4 class = "ui divind header">SHARING YOUR PERSONAL INFORMATION</h4>
    <p>We may share information about you with suppliers that we engage to help us provide certain services and/or functionality e.g online payment processing. We will use reasonable endeavours to control and be responsible for the use of your information by such suppliers.</p>
    <h4 class = "ui divind header">KEEPING YOUR PERSONAL INFORMATION SECURE</h4>
    <p>We take the security of your personal information very seriously and have appropriate physical, technical and administrative procedures in place to help protect your personal information from unauthorized access, use or disclosure as required by law in Canada.</p>
    <h4 class = "ui divind header">CHANGES TO THIS PRIVACY POLICY</h4>
    <p>If we change this privacy policy, we will post the revised privacy policy here with an updated effective date. If we make significant changes to the privacy policy, we may also notify you by other means such as sending an email or posting a notice on our home page.</p>
    <h5>Last Edited December 1st, 2019</h5>
</div>