<div class = "ui container" style ="margin-top: 20px; margin-bottom: 20px">
    <h3 class ="ui dividing header">SITEMAP</h3>
    <div class="ui list">
        <div class="item">
            <i class="folder icon"></i>
            <div class="content">
                <div class="header">Home</div>
                <div class="description">Home Page</div>
                    <div class="list">
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header">About</div>
                                <div class="description">About the Team</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header">Contact Us</div>
                                <div class="description">Send the team an email</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header">FAQs</div>
                                <div class="description">Frequently Asked Questions</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header">Terms and Conditions</div>
                                <div class="description">About the Team</div>
                            </div>
                        </div>
                    </div>
            </div>
            </div>
            <div class="item">
                <i class="folder icon"></i>
                <div class="content">
                    <div class="header">Courses</div>
                    <div class="description">List of all courses</div>
                    <div class="list">
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header">Home</div>
                                <div class="description">About the Course, details on the professor</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header">Notes</div>
                                <div class="description">PDFs uploaded</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header">Links</div>
                                <div class="description">Useful Links</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header">Discussions</div>
                                <div class="description">Discussion forum on topics relating to course</div>
                                </div>
                                </div>
                            </div>
                    </div>
                    </div>
                    <div class="item">
                    <i class="folder icon"></i>
                    <div class="content">
                        <div class="header">Groups</div>
                        <div class="description">List of all Groups</div>
                        <div class="list">
                            <div class="item">
                                <i class="file icon"></i>
                                <div class="content">
                                    <div class="header">Members</div>
                                    <div class="description">List of all members associated with the group</div>
                                </div>
                            </div>
                            <div class="item">
                                <i class="file icon"></i>
                                <div class="content">
                                    <div class="header">Events</div>
                                    <div class="description">EVents planned for the group</div>
                                </div>
                            </div>
                            <div class="item">
                                <i class="file icon"></i>
                                <div class="content">
                                    <div class="header">Group Chats</div>
                                    <div class="description">Forum discussion with other members of the group</div>
                                </div>
                            </div>
                        </div>
                        </div>
    </div>
</div>