<!-- Page Contents -->
<div class="pusher">
<div class="ui inverted vertical masthead center aligned segment" style="background: url(<%= asset_path 'background.jpeg' %>); background-size: cover; background-position: center center;">

  <div class="ui text container" style="height: 400px">
    <h1 class="ui inverted header" style="padding-top: 50px">
      Study Buddy
    </h1>
    <h2>Your one stop shop for all things studying related</h2>
    <%= link_to "Get Started", new_user_registration_path, :class => 'ui huge secondary button'  %>
    </div>
  </div>

</div>
<div class="ui inverted three item menu" style="margin: 0px">
  <a class="item" href="/">Home</a>
  <a class="item" href="/about">About</a>
  <a class="item" href="/contact">Contact Us</a>
</div>

<div class="ui vertical stripe segment" style="margin-top:40px;">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">We Help Struggling Students</h3>
        <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
        <h3 class="ui header">We Offer Links, Notes, Discussion Pages, and Studdy Buddies</h3>
        <p>Yes thats right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
      </div>
      <div class="six wide right floated column">
      <div class = "ui medium bordered rounded image">
        <%=image_tag("student.jpg")%>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <a class="ui huge button" href="/about">About Us</a>
      </div>
    </div>
  </div>
</div>


<div class="ui vertical stripe quote segment"  style ="margin-top: 20px; margin-bottom: 20px;">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
      <div class="ui huge statistic">
      <div class="value">
        5,000
      </div>
      <div class="label">
        Users monthly
      </div>
    </div>
      </div>
      <div class="column">
      <div class="ui huge statistic">
      <div class="value">
        100%
      </div>
      <div class="label">
        of users saw a rise of 2 letter grades
      </div>
    </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui text container">
    <h3 class="ui header">Let us introduce you to a new way to study</h3>
    <p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.</p>
    <a class="ui large button" href="/contact">Contact Us</a>
    <h4 class="ui horizontal header divider">
  </div>
</div>

<div class="ui inverted vertical footer segment" style="position: relative; bottom : 0; width: 100%;">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid" style="margin-bottom: 20px;">
      <div class="three wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a href="/sitemap" class="item">Sitemap</a>
          <a href="/contact" class="item">Contact Us</a>
          <a href="/faq" class="item">FAQ</a>
          <a href="/privacy" class="item">Privacy</a>
          <a href="/termsandconditions" class="item">Terms and Conditions</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Services</h4>
        <div class="ui inverted link list">
          <a href="/courses" class="item">Courses</a>
          <a href="/groups" class="item">Groups</a>
          <a href="/buddies" class="item">Study Buddies</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Study Buddy Team 3</h4>
        <div>Copyright © University of Toronto 2019</div>
      </div>
    </div>
  </div>
</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/visibility.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/sidebar.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/transition.js"></script>
<script src="assets/js/script.js"></script>