<div class="ui container">
<h1 class="ui dividing header">Create New Event</h1>
 
<%= render 'form' %>

<div class ="ui buttons" style="margin-top: 10px">
<%= link_to 'Back', group_path(@group), :class=>"ui secondary button" %>
</div>
</div>
