<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="ui negative message">
    <div class ="ui container">
      <p><strong>This form contains <%= pluralize(object.errors.count, 'error') %>.</strong></p>
      <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    </div>
  </div>
<% end %>